@model IEnumerable<Recruitment_Support_System.Models.Vacancy>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AASL.cshtml";
}

        <p>
            @*@Html.ActionLink("Create New", "Create")*@
        </p>

        <p>Our business network relies on both advanced technology and talented people. We at AASL believe in earning our employees' commitment through recognition and reward for ability and innovation.</p>
        <p>We will help you build on your existing personal and technical skills, as well as acquire new ones, to further your career and enhance your individual development. At AASL we strive to be the best and are looking for dynamic, self-motivated individuals to join and grow with us.</p>

        <div id="subPageTableDutyfree">
            <table class="BiaTableDutyfree" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <th>Position</th>
                    <th>Closing Date</th>
                    <th>View</th>
                </tr>

          @foreach (var item in Model)
            {
                <tr>
                    <td bgcolor='#FFFFFF' class='style9'>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td></td>
                    <td bgcolor='#FFFFFF' class='style9'>
                        @Html.ActionLink("Details", "Details", new { id = item.VacancyId })
                    </td>
                </tr>
                }

            </table>
        </div>