@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dashboard";
}

<link href="~/Content/Stylesheets/dashboard.css" rel="stylesheet" />
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group ">
                    <a href="#" class="list-group-item active main-color-bg">Dashboard</a>
                    <a href="/Vacancy/Create" class="list-group-item">Vacancies</a>
                    <a href="#" class="list-group-item">Forms</a>
                    <a href="#" class="list-group-item">Exam schedule</a>
                    <a href="#" class="list-group-item">News</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading main-color-bg"><h3 class="panel-title">Shortlisting</h3></div>
                    <div class="panel-body">
                        <div class="col-md-3">
                            <button>
                                <div class="well">
                                    <h2><span class="glyphicon glyphicon-cog" aria-hidden="true">200</span></h2>
                                    <h4> Users </h4>
                                </div>
                            </button>
                        </div>
                        <div class="col-md-3">
                            <button>
                                <div class="well">
                                    <h2><span class="glyphicon glyphicon-cog" aria-hidden="true">200</span></h2>
                                    <h4> Users </h4>
                                </div>
                            </button>
                        </div>
                        <div class="col-md-3">
                            <button>
                                <div class="well">
                                    <h2><span class="glyphicon glyphicon-cog" aria-hidden="true">200</span></h2>
                                    <h4> Users </h4>
                                </div>
                            </button>
                        </div>
                        <div class="col-md-3">
                            <button>
                                <div class="well">
                                    <h2><span class="glyphicon glyphicon-cog" aria-hidden="true">200</span></h2>
                                    <h4> Users </h4>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>