body{
	background:#f4f4f4;
	
}
.navbar{
	  margin-bottom:0;
	border-radius:0; 	
}
.navbar  -nav  > li > a, .navbar-brand{
	
	padding-bottom:0 !important;
	
}
.navbar-default {
  background-color: #e1401d;
  border-color: #a12d0c;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ece0de;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ece0de;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ece0de;
  background-color: #a12d0c;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ece0de;
  background-color: #a12d0c;
}
.navbar-default .navbar-toggle {
  border-color: #a12d0c;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #a12d0c;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ece0de;
}
/*custom*/
.main-color-bg{
	background-color: #e1401d !important;
    border-color: #a12d0c !important;
    color:#ffffff !important;
}
/*header*/
#header{
	background:#333333;
	color:#ffffff;
	padding-bottom:10px;
	margin-bottom: 15px;
}

#header .create{
	padding-bottom:10px;
}
.breadcrumb{
	background:#cccccc;
	color:#333333;
}
.breadcrumb a{
	color:#333333;
}




@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ece0de;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ece0de;
    background-color: #a12d0c;
  }
}