/*Header Home menu*/
#header #topMenu {
	width:300px;
	display:block;
	float:right;
	text-align:right;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 0;
}
	#header #topMenu a {
	padding:0 7px;
	border-right:1px solid #FFFFFF;
	text-decoration:none;
	color: #FFFFFF;
}
	#header #topMenu a.last { border:none;}
	#header #topMenu a:hover, #header #topMenu a#select{
	text-decoration:underline;
	color:#FFFFFF;
}
/*Search*/
.search{
	height: 10px;
	padding-top: 10px;
	float: right;
	margin-top: 12px;
	position: relative;
	clear: both;
	margin-right: 9px;
}
input#searchPhrase{
	height:15px;
	width:140px;
	float:left;
	background-color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	margin-right:-1px;
	padding:2px 1px 3px 3px;
	border:1px solid #c5c5c5;
	-moz-border-radius:5px 0px 0px 5px;
	-webkit-border-radius:5px 0px 0px 5px;
	border-radius:5px 0px 0px 5px;
	font-size:12px;
	color:#999999;
	/*-moz-box-shadow:0 0 10px #d5d5d5;-webkit-box-shadow:0 0 10px #d5d5d5;box-shadow:0 0 10px #d5d5d5;*/
}
/*input:focus {
border:5px solid #333333;
}*/
#header .search #go{
	float:left;
	height:22px;
	width:31px;
	display: block;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	overflow: hidden;
}
#search_image {
	padding-top: 15px;
}
/*  news */
h4.corporate_homepage_heading{
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height:23px;
	text-transform:uppercase;
	color:#333;
	background:url("../images/corporate/homepage_title_icons.png") no-repeat;
	letter-spacing: .001em;
}
.corporate_latest_news{
	position: absolute;
	top: 29px;
	right: 13px;
	display: block;
	width: 275px;
	height: 250px;
	padding: 17px 15px 15px 11px;
	text-align: left;
	z-index: 10;
	background-image:url(../latest_news_bg.png);
	background-repeat: no-repeat;
}h4.corporate_latest_news_title{
	background-position:110px 0;
	margin-bottom:25px
}.news_content .article{
	margin-bottom:15px;
	color:#333;
	min-height:82px;
	border-bottom: 1px solid #ccc;
	
	
}
.news_content .article .article_date{float:left;color:#333333;width:59px;font-size:12px}
.article a.article_title{color:#000;font-size:12px;float:left;font-weight:bold;margin-bottom:2px; text-decoration:none;}
.article a.article_title:hover {text-decoration:underline;}

.corporate_latest_news .article p.article_excerpt{clear:both;float:none;margin:0 0 10px 0px;font-size:11px;}
.article_separator {border-bottom:2px solid #f4f3f3;}
/*Home Page Image*/
ul.corporate_homepage_banner_links{
	width: 230px;
	position: absolute;
	/*background: url(../aasl/images/homepage_banner_info_icon.png) no-repeat;*/
	padding-left: 60px;
	right: 85px;
	top: 268px;
	z-index: 999;
}
ul.corporate_homepage_banner_links li{width:190px;background:url(../aasl/images/bullet_arrow_white.png) no-repeat 0 2px;text-align:left;margin:3px 0 10px 0;padding-left:11px}
ul.corporate_homepage_banner_links li a{color:#333;font-size:11px;font-weight:bold;line-height:12px; text-decoration:none;clear:both;float:none;}
ul.corporate_homepage_banner_links li a:hover{
text-decoration:underline;}
/*More banners*/
a.more_banner{
	position:absolute;
	display:block;
	width:188px;
	height:32px;
	padding:10px 0 0 10px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
	left:20px;
	bottom:52px;
	background-image: url(../btn_corporate_banner1.png);
	background-repeat: no-repeat;
	background-position: 0 -42px;
}a.more_banner:hover{background-position:0 0}

a.more_banner2{
	position:absolute;
	display:block;
	width:92px;
	height:25px;
	font-size:10px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
	left:520px;
	bottom:15px;
	background-image:url(../more_button.png);
	background-repeat: no-repeat;
	background-position: 0 -35px;
	text-transform: uppercase;
	padding-top: 6px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 5px;
}a.more_banner2:hover{background-position:0 0}
a.more_banner_news{
	position:absolute;
	display:block;
	width:92px;
	height:25px;
	font-size:10px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
	left:213px;
	bottom:-5px;
	background-image:url(../more_button.png);
	background-repeat: no-repeat;
	background-position: 0 -35px;
	text-transform: uppercase;
	padding-top: 6px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 5px;
}a.more_banner_news:hover{background-position:0 0}
/*Arrivals/Departure FIDS*/
.arrivals_departures table.flight_table td.view_all strong{float:right;margin-top:-4px}

.widget.arrivals_departures table.flight_table tbody tr:hover td,.widget.arrivals_departures table.flight_table tbody tr:hover td a{color:#000 !important}
a.detail_link {
	color: #333;
	text-decoration: none;
	font-size: 11px;
}
a.detail_link:hover {
	color: #333;
	text-decoration: underline;
}
.body_content{
	position:relative;
	color:#6c6c6c;
	font-size:12px;
	margin-top: 20px;
	margin-right: 8px;
	margin-bottom: 35px;
	margin-left: 0;
	clear:both;
	
}.body_content ul li{
	margin-left:5px;
	padding-left:12px;
	padding-left:12px !important;	
	list-style-type:none;
	color:#666666;
	/*background-image: url(../puce_footer.gif);*/
	background-repeat: no-repeat;
	background-position: 0 8px;
}
.body_content p{
	font-size:12px;
	color:#333;
	line-height: 1.4em;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}
.body_content_sinhala p{
	font-size:14px;
	color:#333;
	line-height: 1.4em;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}
.body_content a {
	color: #163C75;
}
.body_content a:hover {
	text-decoration:none;
}
.body_content a:active {
	color: #660000;
}
.body_content_sinhala a {
	color: #163C75;
}
.body_content_sinhala a:hover {
	text-decoration:none;
}
.body_content_sinhala a:active {
	color: #660000;
}
.bold {font-weight:bold
}
.spacePara {
	border-top:solid 1px #dddddd;
	margin-bottom: 15px;
	margin-top: 20px;
}
.space {
	margin-bottom: 15px;
	margin-top: 20px;
}
.avp_acc_button{float:left;height:24px !important;*height:19px !important;margin-top:-3px;padding:5px 10px 0 30px;color:#fff;font-family:Arial, Helvetica, sans-serif;font-weight:400;font-size:18px;background:#f9a718 url("../images/icon_alert.png") no-repeat 5px 5px;cursor:default !important;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;behavior:url("/global/css/PIE.htc")}
/*Arrival Departures booking time is over*/
.widget.arrivals_departures{
	width:286px;
	height:auto;
	position:absolute;
	right:0px;
	top:10px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 10px;
	z-index: 999;
}.widget.arrivals_departures .search_fields{position:relative;margin:0 0 10px 0;text-align:left;padding-left:5px}.widget.arrivals_departures .search_fields .flightnum_field{position:relative;width:150px;height:24px;overflow:hidden;background:url("../input_find_flight.png") no-repeat;border:0;padding-left:6px;font-size:11px;font-weight:bold;color:#717171}
.widget.arrivals_departures table.flight_table{border-top:2px solid #e5e4e4;border-collapse:separate}
.widget.arrivals_departures table.flight_table thead th{font-weight:bold;font-size:11px;color:#333;padding:3px 5px;height:24px;background-color:#f1f0f0;border-top:2px solid #f4f3f3;border-bottom:1px solid #e1e0e0}
.widget.arrivals_departures table.flight_table thead th.time{width:70px !important}.widget.arrivals_departures table.flight_table thead th.flight{width:51px}.widget.arrivals_departures table.flight_table thead th.origin{width:93px}.widget.arrivals_departures table.flight_table thead th.plan{width:7px}.widget.arrivals_departures table.flight_table tbody tr td{border-top:2px solid #fff;background-color:#fff;font-size:11px;color:#666;text-align:left;padding:5px 0 5px 5px;border-bottom:1px solid #eeeded}.widget.arrivals_departures table.flight_table tbody tr td a{color:#666}.widget.arrivals_departures table.flight_table tbody tr:hover td,.widget.arrivals_departures table.flight_table tbody tr:hover td a{color:#000 !important;text-decoration:none}.widget.arrivals_departures table.flight_table tbody tr.alternate td{background-color:#f1f0f0;border-top:2px solid #f1f0f0}
.widget.arrivals_departures table.flight_table tbody tr:hover td{background-color:#1276bf !important;color:#fff !important;border-top:2px solid #3399FF}
.widget.arrivals_departures table.flight_table tfoot td.caption{border-bottom:1px solid #e1e0e0;background-color:#fff;font-size:11px;color:#666;text-align:left;padding:5px}.widget.arrivals_departures table.flight_table tfoot td.view_all{
	border-top:2px solid #f4f3f3;
	background-color:#F1F0F0;
	color:#666;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5;
	padding-left: 5px;
}.widget.arrivals_departures table.flight_table tfoot td.view_all span.arrow{font-size:12px}.widget.arrivals_departures table.flight_table strong{font-weight:bold}.widget.arrivals_departures SPAN.tab_arrivals{width:114px;height:37px;float:left;text-indent:-9999px;background:url("../images/tab_arrivals.png") no-repeat scroll left top transparent}
/* Sub page body area start*/
.container_12{
	margin-left:auto;
	margin-right:auto;
	width:980px;
	text-align:left;
	margin-top: 5px;
}.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_33{
	display:inline;
	float:left;
	position:relative;
	margin-right:0px
}.push_1,.pull_1,.push_2,.pull_2,.push_3,.pull_3,.push_4,.pull_4,.push_5,.pull_5,.push_6,.pull_6,.push_7,.pull_7,.push_8,.pull_8,.push_9,.pull_9,.push_10,.pull_10,.push_11,.pull_11,.push_12,.pull_12{position:relative}.alpha{

}.omega{margin-right:0}.container_12 .grid_1{width:63px}.container_12 .grid_2{width:146px}
.container_12 .grid_3{
	width:210px;
	margin-top: 130px;
	margin-left: 20px;
	display: block;
	background-image:url("../Blue_Sq.png");
	background-repeat: repeat;
	padding: 5px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	min-height:200px;
}.container_12 .grid_33{
	width:210px;
	margin-top: 20px;
	margin-bottom: 20px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	margin-left: 20px;
	border: 3px solid #FFCC00;
	height: 200px;
	background-color: #FFFFFF;
}.container_12 .grid_333{
	width:229px;
	margin-top: 0px;
	margin-left: 10px;
	margin-bottom: 0px;
	position: relative;
	display: inline;

}
.container_12 .grid_4{width:312px}.container_12 .grid_5{width:300px}.container_12 .grid_6{width:478px}.container_12 .grid_7{width:561px}.container_12 .grid_8{width:644px}.container_12 .grid_9{
	width:727px;
	background-color: #FFFFFF;
}.container_12 .grid_10{width:810px}.container_12 .grid_11{width:893px}.container_12 .grid_12{
	width:980px
}.container_12 .prefix_1{padding-left:83px}.container_12 .prefix_2{padding-left:166px}.container_12 .prefix_3{padding-left:249px}.container_12 .prefix_4{padding-left:332px}.container_12 .prefix_5{padding-left:415px}.container_12 .prefix_6{padding-left:498px}.container_12 .prefix_7{padding-left:581px}.container_12 .prefix_8{padding-left:664px}.container_12 .prefix_9{padding-left:747px}.container_12 .prefix_10{padding-left:830px}.container_12 .prefix_11{padding-left:913px}.container_12 .suffix_1{padding-right:83px}.container_12 .suffix_2{padding-right:166px}.container_12 .suffix_3{padding-right:249px}.container_12 .suffix_4{padding-right:332px}.container_12 .suffix_5{padding-right:415px}.container_12 .suffix_6{padding-right:498px}.container_12 .suffix_7{padding-right:581px}.container_12 .suffix_8{padding-right:664px}.container_12 .suffix_9{padding-right:747px}.container_12 .suffix_10{padding-right:830px}.container_12 .suffix_11{padding-right:913px}.container_12 .push_1{left:83px}.container_12 .push_2{left:166px}.container_12 .push_3{left:249px}.container_12 .push_4{left:332px}.container_12 .push_5{left:415px}.container_12 .push_6{left:498px}.container_12 .push_7{left:581px}.container_12 .push_8{left:664px}.container_12 .push_9{left:747px}.container_12 .push_10{left:830px}.container_12 .push_11{left:913px}.container_12 .pull_1{left:-83px}.container_12 .pull_2{left:-166px}.container_12 .pull_3{left:-249px}.container_12 .pull_4{left:-332px}.container_12 .pull_5{left:-415px}.container_12 .pull_6{left:-498px}.container_12 .pull_7{left:-581px}.container_12 .pull_8{left:-664px}.container_12 .pull_9{left:-747px}.container_12 .pull_10{left:-830px}.container_12 .pull_11{left:-913px}.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:before,.clearfix:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both}.clearfix{zoom:1}
/*Sub page Left Nav*/
.generic_content_page{
	position:relative;
	background-color: transparent;
	background-image:url(../Images/menu_left_bg.png);
	background-repeat: repeat-y;
	background-position: left bottom;
	margin-bottom: 5px;
	margin-left: 5px;
}body.print DIV.generic_content_page{background-image:none}.generic_content_page .grid_2{
	width:197px;
	margin-right:25px
}.generic_content_page .grid_10{
	width:744px
}.generic_content_menu_title{font-size:24px;color:#333;font-weight:normal;padding:15px;border-bottom:1px solid #e0dfdf;line-height:24px}.generic_content_menu_top{
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:197px;
	height:15px;
	background-repeat: no-repeat;
	background-position: left bottom;
	background-image: url(../Images/sub_top_line.png);
}
div.breadcrumbs{
	display:block;
	font-size:11px;
	border-bottom:1px solid #e7e6e6;
	margin-bottom:20px;
	line-height:23px;
	padding-top: 15px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 0;
}a.breadcrumb{color:#7f7f7f}a.breadcrumb:hover{text-decoration:none;color:#585858}
.social_links{position:relative;right:0;bottom:0;height:25px}.social_links a,.social_links{float:right !important}
h1.page_heading{
	display:inline;
	float:left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	color: #014A90;
}
h2.page_heading{
	display:inline;
	float:left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	color: #014A90;
	clear: right;
	width: 100%;
}
h2.page_heading_sinhala{
	font-family: iskolapotha;
	display: inline;
	float: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	color: #004080;
	clear: right;
	width: 100%;
}
h3.page_heading{
	display:inline;
	float:left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	color: #014A90;
	clear: right;
	width: 100%;
}
a.print{color:#7f7f7f}a.print:hover{text-decoration:none;color:#585858}
a.download{color:#014A90}a.download:hover{text-decoration:none;color:#06C}

/* Left Navigation Start*/
.left-nav {
	width: 197px;
	padding-top: 0.4em;
	padding-right: 0.4em;
	padding-bottom: 0.4em;
	/*padding-left: 1.3em;*/
}
.left-nav ul { margin:0; padding:0; list-style:none;}
.left-nav ul li {
	padding-left:1.3em; margin:0;
}
.left-nav li {
	font-size: 12px;
	display: block;
	/*border-left: 12px solid #711515;
	border-right: 1px solid #711515;
	background-color: #B51032;*/
	color: #666666;
	text-decoration: none;	
	}
.left-nav li a.head {
padding-left: 1.5em;
}
.left-nav ul li a {
	font-size: 11px;
	display: block;
	/*border-left: 12px solid #711515;
	border-right: 1px solid #711515;
	background-color: #B51032;*/
	color: #666666;
	text-decoration: none;
	/*font-weight: bold;*/
	padding-top: 0.4em;
	padding-right: 0.4em;
	padding-bottom: 0.4em;
	padding-left: 0em;
	}
.left-nav ul li a.select {/*background-color: #ED9F9F;*/
	color: #666666;
	font-weight:bold;
}
.left-nav ul li a:visited {
	font-weight:normal;
	text-decoration:underline;
}
.left-nav ul li a:hover {
	text-decoration:underline;
}

.left-nav img.arrows {padding-left:5px; border:0}

.button input{line-height:1;padding:0;margin:0}.button{cursor:pointer;text-decoration:none !important;background:url("../button_bg.png") no-repeat right top;padding-right:10px;display:inline-block;line-height:24px;height:24px;font-size:13px;color:#FFFFFF;text-transform:uppercase;font-weight:normal;font-family:Arial, Helvetica, sans-serif}span.button{vertical-align:middle;margin-top:-1px}.button span{background:url("../button_bg.png") no-repeat left top;padding-left:10px;line-height:24px;height:24px;display:inline-block;text-decoration:none}.button span span{background:transparent;padding:0;font-size:13px;color:#fff;text-align:center}.button span input{
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	font-weight:normal;
	background:transparent;
	border:0;
	cursor:pointer;
	color:#fff;
	padding:3px 0 0 0;
	font-size:11px
}

.banner{
	position:relative;
	width:980px;
	height:364px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	behavior:url("/global/css/PIE.htc");
	margin-bottom:0px;
	text-align:left;
	background:url("../images/banner_default.jpg") no-repeat

}.banner h1{
	position:absolute;
	top:55px;
	left:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:40px;
	color:#8D8D8D;
	text-transform:uppercase;
}.banner h3{position:absolute;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:35px;color:#dcf6ff;text-transform:uppercase;top:125px;left:14px}
ul.bullets{
	padding:0;
	margin-left: 15px;
}
ul.bullets li{
	list-style:none;
	padding-left:15px;
	line-height:15px;
	margin-bottom:5px;
	list-style-image:none;
	background-image: url(../arrow_banner.png);
	background-repeat: no-repeat;
	background-position: 0 3px;
}
ul.bullets li a{font-family:Arial, Helvetica, sans-serif;font-size:17px;color:#fff}
ul.bullets li a:hover{text-decoration:none}

ul.body_bullet_bia{
	padding:0;
	margin-left: 0px;
}
ul.body_bullet_bia li{
	list-style:none;
	padding-left:15px;
	line-height:15px;
	margin-bottom:5px;
	list-style-image:none;
	background-image: url(../bullet-bia.png);
	background-repeat: no-repeat;
	background-position: left 5px;
}
ul.body_bullet_aasl{
	padding:0;
	margin-left: 0px;
}
ul.body_bullet_aasl li{
	list-style:none;
	padding-left:15px;
	line-height:15px;
	margin-bottom:5px;
	list-style-image:none;
	background-image: url(../bullet-aasl.png);
	background-repeat: no-repeat;
	background-position: left 5px;
}
ul.body_bullet_rma{
	padding:0;
	margin-left: 0px;
}
ul.body_bullet_rma li{
	list-style:none;
	padding-left:15px;
	line-height:15px;
	margin-bottom:5px;
	list-style-image:none;
	background-image: url(../bullet-rma.png);
	background-repeat: no-repeat;
	background-position: left 5px;
}
ul.body_bullet_mria{
	padding:0;
	margin-left: 0px;
}
ul.body_bullet_mria li{
	list-style:none;
	padding-left:15px;
	line-height:15px;
	margin-bottom:5px;
	list-style-image:none;
	background-image: url(../bullet-mria.png);
	background-repeat: no-repeat;
	background-position: left 5px;
}
.banner .tab_container{position:absolute;width:954px;bottom:7px;left:16px}
.lineyellow{
	position:absolute;
	display:block;
	top:-3px;
	left:-3px;
	width:690px;
	height:4px;
	line-height:4px;
	overflow:hidden;
	margin:0;
	background-color:#faa81a;
	padding-top: 0;
	padding-right: 6px;
	padding-bottom: 0;
	padding-left: 0;
}.panel div.line.grey{background-color:#868686}
h4.sub_main_banner_heading {
	font-size: 16px;
	color: #FFFFFF;
	text-transform: uppercase;
	padding-bottom: 20px;
}
.innerbox {
	width: 727px;
	float: left;
	position: relative;
}
h4.innerbox_heading {
	font-size: 14px;
	color:#333333;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #e0dfdf;
	padding-top: 10px;
}
ul.innerbox_bullets{
	padding:0;
	margin-left: 15px;
}
ul.innerbox_bullets li{
	list-style:none;
	padding-left:15px;
	line-height:15px;
	margin-bottom:5px;
	list-style-image:none;
	background-image: url(../arrow_banner.png);
	background-repeat: no-repeat;
	background-position: 0 3px;
}
ul.innerbox_bullets li a{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#666666; text-decoration:none}
ul.innerbox_bullets li a:hover{text-decoration:underline}
.innerbox_right {
	display: inline;
	float: left;
	width: 235px;
	position: relative;
	height: 214px;
	background-color: #F8F8F8;
	
}
.innerbox_right_img {
	display: block;
	width: 220px;
	position: relative;
	background-image: url(../Onboard.png);
	background-repeat: no-repeat;
	background-position: top;
	height: 214px;
}
#subPageTable {
	border:4px solid #076EB7;
	padding:1px;
	width:720px;
	background-color:#0A72BC;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
}

#subPageTableHeading {
	/*border:1px solid #CCCCCC;*/
	width:640px;
	height:25px;
	margin-left:5px;
	/*background-color: #999999;*/

	/*margin: 36px 0 10px 0;*/
	font-size: 1.5em;
	/*letter-spacing: .1em;*/
	line-height: normal;
	/*letter-spacing: normal;*/
	text-transform: uppercase;
	font-family: Calibri, Arial, sans-serif;
	font-weight: normal;
	padding-top: 5px;
	/*padding-right: 5px;*/
	padding-bottom: 5px;
	padding-left: 10px;
	color: #FFFFFF;
	background-image: url(../../images/p7pbg1.jpg);
}
#subPageTable table.BiaTable {
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 24px;
	padding: 5px;
	}

#subPageTable table.BiaTable th {
	padding: 0 0.5em;
	text-align:left;
	color: #FFFFFF;
	background-color: #0A72BC;
	}

BiaTable tr.yellow td {
	border-top: 1px solid #FB7A31;
	border-bottom: 1px solid #FB7A31;
	background: #FFC;
	}
#subPageTable table.BiaTable tr:hover td{
	background-color:#0A72BC;
	color: #FFFFFF;
} 
#subPageTable table.BiaTable td {
	border-bottom: 1px solid #CCC;
	padding: 0 0.5em;
	}

/*td:first-child {
	width: 190px;
	}
*/
#subPageTable table.BiaTable td+td {
	/*border-left: 1px solid #CCC;*/
	text-align: left;
	}
#subPageTable table.BiaTable tr:hover td a{
	color: #FFFFFF;
} 
#subPageTable table.BiaTable tr:last-child td{border-bottom:0}
.style7 {
	color: #FFFFFF;
	font-size: 12px;
	margin: 5px;
}.table_cell {
	display: table-cell;
	vertical-align:middle;
}
.table_body {
	vertical-align: middle;
	display: table;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dddddd;
}
/*Table Normal */
#subPageTableNormal {
	border:4px solid #076EB7;
	padding:1px;
	width:720px;
	background-color:#0A72BC;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
}
#subPageTableNormal table.BiaTableNormal {
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 24px;
	padding: 5px;
	}

#subPageTableNormal table.BiaTableNormal th {
	padding: 0 0.5em;
	text-align:left;
	color: #FFFFFF;
	background-color: #0A72BC;
	}

BiaTable tr.yellow td {
	border-top: 1px solid #FB7A31;
	border-bottom: 1px solid #FB7A31;
	background: #FFC;
	}
/*#subPageTableNormal table.BiaTableNormal tr:hover td{
	background-color:#0A72BC;
	color: #FFFFFF;
} */
#subPageTableNormal table.BiaTableNormal td {
	border-bottom: 1px solid #CCC;
	padding: 0 0.5em;
	border-left: 1px solid #CCC;
	}
#subPageTableNormal table.BiaTableNormal td+td {
	border-left: 1px solid #CCC;
	text-align: left;
	}

/*Table dutyfree */
#subPageTableDutyfree {
	border:4px solid #076EB7;
	padding:1px;
	
	background-color:#0A72BC;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
}
#subPageTableDutyfree table.BiaTableDutyfree {
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 18px;
	padding: 5px;
	}

#subPageTableDutyfree table.BiaTableDutyfree th {
	font-size: 16px;
	padding: 0.5em 0.5em;
	text-align:left;
	color: #FFFFFF;
	background-color: #0A72BC;
	}

BiaTable tr.yellow td {
	border-top: 1px solid #FB7A31;
	border-bottom: 1px solid #FB7A31;
	background: #FFC;
	}
#subPageTableDutyfree table.BiaTableDutyfree tr:hover td{
	background-color:#0A72BC;
	color: #FFFFFF;
} 
#subPageTableDutyfree table.BiaTableDutyfree td {
	border-bottom: 1px solid #CCC;
	padding: 0.5em 0.5em;
	/*border-left: 1px solid #CCC;*/
	}
#subPageTableDutyfree table.BiaTableDutyfree td+td {
	/*border-left: 1px solid #CCC;*/
	text-align: left;
	}
#subPageTableDutyfree table.BiaTableDutyfree tr:hover td a{
	color: #FFFFFF;
} 
#subPageTableDutyfree table.BiaTableDutyfree tr:last-child td{border-bottom:0}

/*Table dutyfree */
#myTable {
	border:4px solid #076EB7;
	padding:1px;
	width:500px;
	background-color:#0A72BC;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
}
#myTable table.AaslTableDutyfree {
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	padding: 5px;
	color:#333;
	}

#myTable table.AaslTableDutyfree th {
	font-size: 16px;
	padding: 0.5em 0.5em;
	text-align:left;
	color: #FFFFFF;
	background-color: #0A72BC;
	}

BiaTable tr.yellow td {
	border-top: 1px solid #FB7A31;
	border-bottom: 1px solid #FB7A31;
	background: #FFC;
	}
#myTable table.AaslTableDutyfree tr:hover td{
	background-color:#0A72BC;
	color: #FFFFFF;
} 
#myTable table.AaslTableDutyfree td {
	border-bottom: 1px solid #CCC;
	padding: 0.5em 0.5em;
	/*border-left: 1px solid #CCC;*/
	}
#myTable table.AaslTableDutyfree td+td {
	/*border-left: 1px solid #CCC;*/
	text-align: left;
	}
#myTable table.AaslTableDutyfree tr:hover td a{
	color: #FFFFFF;
} 
#myTable table.AaslTableDutyfree tr:last-child td{border-bottom:0}
